:root{
    --blue: #0597F2;
    --light-blue: #05AFF2;
    --green: #04D94F;
    --orange: #F29F05;
    --red: #DA291C;
    --black: #060606;
}

header{
    background-color: var(--black);
    color: white;
}

#searchBtn{
    background-color: var(--light-blue);
    color: white;
}

#searchBtn:hover{
    background-color: var(--blue);
}

.favorable{
    background-color: var(--green);
    color: white;
}

.moderate{
    background-color: var(--orange);
    color: white;
}

.severe{
    background-color: var(--red);
    color: white;
}

.fetchedcolor{
    background-color: var(--blue);
    color: white;
}